section#home(data-role="page")
    header(data-role="header")
        h1 Home
        a(href="#add",data-icon="plus",data-theme="d") Add
        a(href="#info",data-icon="info") info
    div(data-role="content")
        ul#projects(data-role="listview",data-split-icon="delete",data-split-theme="d")
